#body {
  background: #abc56b;
  }
#id1 {
    color: #EFF6F8;
    text-align: center;
    font-size: 32px;
    font-family: 'Hachi Maru Pop', cursive !important;
  }
.container{
    text-align: center;
  }

.container button{
  font-size:20px;
  color: red;
  width: 10%;
  border-radius: 5px;
}
.container button:hover{
  color: blue;
  border-radius: 5px;
  width: 7%
}

#body .messages .success{
    color: green !important;
    font-size: 20px;
    text-align: center;
}
