<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Senpai Gen</title>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
</style>
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<div id="body">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <body class="first_body">
    <p class="first" id="id1">機能していますか?</p>
    <div class="container">
      <button class="ogbtn" id="id2" type="submit">Check</button>
    </div>
  <div>
  {% for post in object_list %}
  {% if post.title %}
  <h3>{{post.title}}</h3>
  <hr>
  {{ post.body}}
    <div>
    </div>
  <hr style="color:red">
    <div>
  {{post.author}} | {{post.date_added}}
    {% endif %}
    </div>
    <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h2>Comments</h2></li>
      {% for comment in post.comments.all %}
    <li class="list-group-item">{{comment.comment}}  | {{comment.author}}</li>
  </ul>
        {% endfor %}
      <hr>
      <div>
      <a href="{% url 'like_counter' post.pk %}">
        <button id="like">Like</button>
      </a>
      {{post.total_no_of_likes}}
      </div>
      </div>
    <br>
    <hr>
    {% endfor %}
</div>
  <br>
  <hr>
    </body>
  <a href="{% url 'ProfileView' user.pk %}">Edit Profile</a>
  </div>
<script type="text/javascript" src="{% static 'scripts/scipts.js' %}" async></script>
</html>
